/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  width: 1000px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid silver;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

html {
  font-size: 16px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Monospace; /* this should be the rest of the output you got from Google fonts */
  /*background-color: #000000; */

  /* Location of the image */
  background-image: url(../images/background.jpg);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

main, footer {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 10px 10px 10px 10px;
  border: 2px solid silver;
}

h1 {
  width: 1000px;
  margin: 0 auto;
  background-color: silver;
  padding: 2px 2px 2px 2px;
}

/* Social media buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Github */
.fa-github {
  background: #333;
  color: white;
}
